*,
*:before,
*:after {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

:root {
  font-size: 62.5%;
  --color-background: rgb(19, 24, 32);
  --color-form-background: rgb(34, 42, 48);
  --color-heading: rgba(255, 255, 255, 0.95);
  --color-text: rgba(255, 255, 255, 0.9);
  --color-cta: rgba(17, 139, 167, 0.9);
  --font-heading: 100 5.2rem 'Chivo', sans-serif, Courier, monospace;
  --font-text: 2rem 'Krub', sans-serif, Courier, monospace;
  --margin-bottom: 48px;
  --margin-rows: 24px;
  --padding: min(5%, 50px);
}

/* positioning */
body {
  display: grid;
  grid-template-columns: 3fr 5fr;
  background-color: var(--color-background);
  color: var(--color-text);
  font: var(--font-text);
}
/* image, title, footer */
#image-container {
  background: url(images/main.jpg) center / cover no-repeat;
  min-height: 100vh;
  display: grid;
  place-items: center;
}

#image-container h1{
  font: var(--font-heading);
}

.footer {
  align-self: end;
  font-size: 1.2rem;
  padding: 10px;
}

.footer a {
  color: var(--color-text);
}

/* Main content */
#content {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
}

/* wrapper  goes around form and around first text block */
.wrapper, .cta {
  padding: var(--padding)
}

.wrapper > p:last-child {
  margin-top: var(--margin-rows);
}

#form-container {
  background-color: var(--color-form-background);
}

#form-container > h5 {
  padding-bottom: 16px;
}

#sign-up-form{
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  row-gap: 24px;
  column-gap: min(32px, 3%);
  background-color: var(--color-form-background);
  font-size: 85%;
}

#sign-up-form > div{
  display: flex;
  flex-direction: column;
}

#sign-up-form input {
  background-color: var(--color-form-background);
  border: 1px solid rgba(255, 255, 255, 0.3);
  border-radius: 16px;
  line-height: 2.4rem;
  padding: 0 1rem;
  color: var(--color-text);
  letter-spacing: 0.1rem;
  outline: none;
}

/* styling form submit button (Create Account) */
#submit {
  background-color: transparent;
  color: var(--color-cta);
  padding: 8px 24px;
  margin-bottom: min(1%, 16px);
  font: var(--font-text);
  position: relative;
  border: none;
  overflow: hidden;
  border-radius: 20px;
}
#submit::after {
  content: '';
  position: absolute;
  bottom: 0;
  left: 0;
  height: 100%;
  width: 100%;
  border: 2px solid var(--color-cta);
  border-radius: 20px;
}
#submit::before {
  content: '';
  position: absolute;
  bottom: 0;
  left: 0;
  height: 100%;
  width: 0%;
  background-color: var(--color-cta);
  transition: all 0.3s;
  border-radius: 20px;
  z-index: -1;
}
#submit:hover::before{
  width: 100%;
}
#submit:hover{
  color: var(--color-text);
}

.cta a {
  color: var(--color-cta);
}

/* styling  form validation (.invalid class is force by JS */
#sign-up-form input:focus {
  border: 1px solid rgba(255, 255, 255, 0.5);
}

#sign-up-form input:invalid:focus,
#sign-up-form input.invalid  {
  border: 1px solid rgba(255, 0, 0, 0.5);
}

@media (max-width: 480px) {
  body {
    display: flex;
    flex-direction: column;
  }

  #image-container {
    min-height: 80svh;
  }

  #sign-up-form {
    display: flex;
    flex-direction: column;
  }

  .wrapper, .cta {
    padding: 50px max(5%, 30px);
  }

  #sign-up-form input{
    font-size: 85%;
  }

  .cta p {
    margin-top: 16px;
  }
}